<div class="col-sm-4">
    <div class="panel panel-primary" >

        <h3 class="panel-heading panel-title">
            Heading
        </h3>

        <div class="panel-body" >
            Body
        </div>

        <div class="panel-footer">
            Footer [{{M.message}}]
        </div>
    </div>

</div>


<!-- Prawy panel -->
<div class="col-sm-8">
    <div class="panel panel-primary" >

        <h3 class="panel-heading panel-title">
            Heading
        </h3>

        <div class="panel-body" >
            Body
        </div>

        <div class="panel-footer">
            Footer
        </div>
    </div>
</div>